body {
	margin: 0 !important;
	font-family: Open Sans !important;
	font-weight: normal !important;
}

.center {
	text-align: center;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

#navigation {
	position: relative;
	z-index: 2000;
}

.main-panel {
	margin-top: 68px;
}

.main-panel-overview {
	padding: 10px 10px 5px 18px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-panel-form {
	box-shadow: -10px -10px 5px lightgrey !important;
	/*border-left: 1px solid #e0e0e0;*/
	padding: 10px 10px 0 10px;
	background: #454a4a !important;
	font-weight: normal !important;
}

.main-panel-form h1{
	color: #fff;
	font-weight: normal !important;
}

.main-panel-form .gwt-Label {
	color: #fff;
}

.main-panel-form .gwt-Button {
	background: #fff !important;
	/*background-color: #454a4a;*/
	color: #000 !important;
	box-shadow: none !important;
	border: #fff !important;
}

.main-panel-form .gwt-Button:hover {
	color: #fff !important;
}


.first-element {
	margin-top: 0 !important;
}

button {
	margin: 3px 0 !important;
}

.close-button {
	padding: 0px 4px 0 3px !important;
	margin: 9px 6px 0 0 !important;
	font-size: 10px !important;
	font-weight: bold !important;
}

.registration-logo {
	width: 288px;
	padding-left: 14px;
	padding-top: 7px;
}

.bold {
	font-weight: bold;
}


/*******************/
/** GWT OVERRIDES **/
/*******************/

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableWidget{
	width: 90% !important;
	box-shadow: 3px 3px 5px lightgrey !important;
	border: 1px solid lightgrey;
}

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableWidget tbody td,
	.gwt-Anchor {
	cursor: pointer;
}

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableWidget th{
	text-align: left !important;
	background-color: #04847a !important;
	color: white !important;
	border-bottom: none;
	text-shadow: none;
	font-weight: normal;
	height: 30px;
}

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableWidget td{
	width: inherit !important;
}


.com-google-gwt-user-cellview-client-CellTable-Style-cellTableEvenRowCell {
}

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableOddRowCell {
	background-color: none !important;
}

.gwt-MenuBar {
	background-color: #454a4a !important;
	box-shadow: 0px 1px 5px #454a4a !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 3px solid #04847a !important;
	border-radius: none !important;
}

.gwt-MenuBar-horizontal {
	vertical-align: middle !important;
	background: #454a4a !important;
}

.gwt-MenuBar .gwt-MenuItem {
    font-family: Open Sans !important;
    font-weight: normal;
    font-size: 12px !important;
    letter-spacing: 1px;
}

.gwt-MenuItem {
	color: #fff !important;
	vertical-align: middle !important;
	text-transform: uppercase;
}

.gwt-MenuItem-selected{
	background: #04847a !important;
}

.gwt-MenuItemSeparator {
	background: transparent !important;
	border-left: none !important;
	width: 5px !important;
}

.menuPopupTop, .menuPopupTopLeft, .menuPopupTopCenter, .menuPopupTopRight, .menuPopupMiddle, .menuPopupMiddleLeft, .menuPopupMiddleCenter, .menuPopupMiddleRight, .menuPopupBottom, .menuPopupBottomLeft, .menuPopupBottomCenter, .menuPopupBottomRight {
	background: #454a4a !important;
}

.gwt-Button {
	background: #454a4a !important;
	/*background-color: #454a4a;*/
	color: #fff;
	box-shadow: 2px 2px 3px lightgrey !important;
	border: #454a4a;
}

.gwt-Button:hover {
	background: #04847a !important;
	/*background-color: #454a4a;*/
	border: #04847a;
}

.gwt-Anchor {
	color: grey !important;
}

a.gwt-Anchor:hover {
	color: #04847a !important;
	text-decoration: none;
}

h1 {
	font-size: 24px;
	padding-top: 20px;
	color: #454a4a;
}

h2 {
	font-size: 18px;
	padding-top: 20px;
	color: #454a4a;
}


/**********************/
/** Report Generator **/
/**********************/

table.content{
	width: 80%;
	border: 1px solid lightgrey;
	border-collapse: collapse;
	box-shadow: 3px 3px 5px lightgrey !important;
}

table.headerdata {
	width: inherit;
	border-collapse: collapse;
}

td.tdheaderdata {
	border: 0px transparent;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
	border-collapse: collapse;
}

tr.theader {
	height: 50px;
	text-align: left;
	background-color: #04847a;
	color: white;
	font-size: 18px;
}

tr.rcontent, td.rcontent {
	padding: 8px;
	text-align: left;
	font-size: 14px;
	width: inherit;
	font-weight: normal;
}

tr.rcontent:nth-child(even) {
	background-color: #f2f2f2;
}

h1.report {
	font-size: 24px;
}

h2.report {
	color: #04847a;
	font-size: 18px;
}

h1.hsubreport{
	font-size: 18px !important;
	padding-bottom: 0px !important;
}

.subreportinter {
	width: 100%;
	border-top: 2px solid #04847a !important;
}