<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets --><servlet>
  	<servlet-name>worketplaceAdministration</servlet-name>
  	<servlet-class>de.worketplace.team06.server.WorketplaceAdministrationImpl</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>worketplaceAdministration</servlet-name>
		<url-pattern>/editor/worketplaceAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>de.worketplace.team06.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/worketplace/greet</url-pattern>
  </servlet-mapping>
  
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>worketplaceAdministration</web-resource-name>
            <url-pattern>/editor/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Worketplace.html</welcome-file>
    <welcome-file>Editor.html</welcome-file>
  </welcome-file-list>

</web-app>
